<div class="container">

    <div class="col-md-6">
      <img src="https://hd.unsplash.com/photo-1470549638415-0a0755be0619" />
      <h2><a href="/books" class="btn btn-primary btn-lg btn-block">Books</a></h2>
    </div>

    <div class="col-md-6">
      <img src="https://hd.unsplash.com/photo-1432821596592-e2c18b78144f" />
      <h2><a href="/authors" class="btn btn-primary btn-lg btn-block">Authors</a></h2>
    </div>

</div>
